<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-accord-heading" data-cy="AccordCreateUpdateHeading" jhiTranslate="accordApp.accord.home.createOrEditLabel">
        Create or edit a Accord
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.partenaire" for="field_partenaire">Partenaire</label>
          <input
            type="text"
            class="form-control"
            name="partenaire"
            id="field_partenaire"
            data-cy="partenaire"
            formControlName="partenaire"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.domaine" for="field_domaine">Domaine</label>
          <input type="text" class="form-control" name="domaine" id="field_domaine" data-cy="domaine" formControlName="domaine" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.dure" for="field_dure">Dure</label>
          <input type="text" class="form-control" name="dure" id="field_dure" data-cy="dure" formControlName="dure" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.zone" for="field_zone">Zone</label>
          <input type="text" class="form-control" name="zone" id="field_zone" data-cy="zone" formControlName="zone" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.nature" for="field_nature">Nature</label>
          <input type="text" class="form-control" name="nature" id="field_nature" data-cy="nature" formControlName="nature" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.validationDircoop" for="field_validationDircoop"
            >Validation Dircoop</label
          >
          <select
            class="form-control"
            name="validationDircoop"
            formControlName="validationDircoop"
            id="field_validationDircoop"
            data-cy="validationDircoop"
          >
            <option [ngValue]="null">{{ 'accordApp.ValidationDC.null' | translate }}</option>
            <option *ngFor="let validationDC of validationDCValues" [value]="validationDC">
              {{ 'accordApp.ValidationDC.' + validationDC | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="accordApp.accord.validationRecteur" for="field_validationRecteur"
            >Validation Recteur</label
          >
          <select
            class="form-control"
            name="validationRecteur"
            formControlName="validationRecteur"
            id="field_validationRecteur"
            data-cy="validationRecteur"
          >
            <option [ngValue]="null">{{ 'accordApp.ValidationR.null' | translate }}</option>
            <option *ngFor="let validationR of validationRValues" [value]="validationR">
              {{ 'accordApp.ValidationR.' + validationR | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
